
body{
  background: cornsilk;
}
#buttonTO
{
    background:darkkhaki;
}

.container{
    background: rgb(248, 243, 199);
    
}

#box{
  font-family: 'Licorice', cursive;
  font-size: x-large;
  position: relative; top: 50px;
}


#arrowImage
{
  position:absolute; left: 1000px;
}